.subscribe-button{
    background-color: rgb(213, 1, 1);
    color: white;
    border: none;
    height: 36px;
    width: 105px;
    border-radius: 2px;
    cursor: pointer;
    transition: opacity 0.7s;
}
.subscribe-button:hover{
    opacity: 0.6;
}
.join-button{
    background-color: white;
    color: blue;
    border-color: rgb(0, 0, 255);
    border-style: solid;
    border-width: 1px;
    height: 36px;
    width: 62px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 7px;
    transition: background-color 0.7s, color 0.7s;        
}
.join-button:hover{
    background-color: blue;
    color: white;
}
.join-button:active{
    opacity:0.6;
}
.tweet-button{
    background-color: rgb(78, 78, 255);
    color: white;
    height: 36px;
    width: 74px;
    border-radius: 18px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-left: 7px;
    transition: box-shadow 0.15s;
}
.tweet-button:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.amazon-button{
    background-color: rgb(235, 235, 14);
    color: black;
    height: 36px;
    width: 145px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-left: 7px;
}
.amazon-button:hover{
    background-color: rgb(208, 208, 24);
}
.amazon-button:active{
    opacity: 0.6;
}
.buy-button{
    background-color: rgb(222, 135, 28);
    color: black;
    height: 36px;
    width: 145px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-left: 7px;
}
.buy-button:hover{
    background-color: rgb(255, 140, 0);
}